# docker compose -f docker/docker-compose.yml -f docker/docker-compose-qdrant.yml up
# docker compose -f docker/docker-compose.yml -f docker/docker-compose-qdrant.yml down

services:
  streamlit:
    environment:
      - QDRANT_HOST=qdrant
      - QDRANT_PORT=6333
    depends_on:
      - qdrant

  qdrant:
    image: qdrant/qdrant:latest
    hostname: qdrant
    container_name: qdrant
    restart: always
    ports:
      - "6333:6333"
    volumes:
      - qdrant_data:/qdrant/storage

volumes:
  qdrant_data:
